In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [11]:
df=pd.read_csv('student-scores.csv')
df

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84,73,75,84,82
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73,80,87,67,73
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63,93,68,94,78
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72,89,95,88,75
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91,69,83,93,100

In [12]:
df.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76

In [13]:
df.drop(columns=['id','first_name','last_name','email'],axis=1, inplace=True)

In [14]:
df.columns

Index(['gender', 'part_time_job', 'absence_days', 'extracurricular_activities',
       'weekly_self_study_hours', 'career_aspiration', 'math_score',
       'history_score', 'physics_score', 'chemistry_score', 'biology_score',
       'english_score', 'geography_score'],
      dtype='object')

In [15]:
df

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,male,False,5,False,10,Unknown,84,77,65,65,80,74,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,male,False,2,False,30,Construction Engineer,83,77,84,73,75,84,82
1996,male,False,2,False,20,Software Engineer,89,65,73,80,87,67,73
1997,female,False,5,False,14,Software Engineer,97,85,63,93,68,94,78
1998,female,True,10,True,5,Business Owner,51,96,72,89,95,88,75
1999,female,False,5,False,27,Accountant,82,99,91,69,83,93,100

In [16]:
df['total_score'] = df['math_score'] + df['history_score'] + df['physics_score'] +df['chemistry_score'] + df['biology_score'] + df['english_score'] + df['geography_score']
df['average_score'] = df['total_score'] / 7

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   gender                      2000 non-null   object
 1   part_time_job               2000 non-null   bool
 2   absence_days                2000 non-null   int64
 3   extracurricular_activities  2000 non-null   bool
 4   weekly_self_study_hours     2000 non-null   int64
 5   career_aspiration           2000 non-null   object
 6   math_score                  2000 non-null   int64
 7   history_score               2000 non-null   int64
 8   physics_score               2000 non-null   int64
 9   chemistry_score             2000 non-null   int64
 10  biology_score               2000 non-null   int64
 11  english_score               2000 non-null   int64
 12  geography_score             2000 non-null   int64
 13  total_score                 2000 non-null   int64
 14  average_score               2000 non-null   float64
dtypes: bool(2), float64(1), int64(10), object(2)
memory usage: 207.2+ KB

In [18]:
df.shape

(2000, 15)

In [19]:
enc=LabelEncoder()

In [20]:
df.gender=enc.fit_transform(df.gender)

In [21]:
df.career_aspiration=enc.fit_transform(df.career_aspiration)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   gender                      2000 non-null   int32
 1   part_time_job               2000 non-null   bool
 2   absence_days                2000 non-null   int64
 3   extracurricular_activities  2000 non-null   bool
 4   weekly_self_study_hours     2000 non-null   int64
 5   career_aspiration           2000 non-null   int32
 6   math_score                  2000 non-null   int64
 7   history_score               2000 non-null   int64
 8   physics_score               2000 non-null   int64
 9   chemistry_score             2000 non-null   int64
 10  biology_score               2000 non-null   int64
 11  english_score               2000 non-null   int64
 12  geography_score             2000 non-null   int64
 13  total_score                 2000 non-null   int64
 14  average_score               2000 non-null   float64
dtypes: bool(2), float64(1), int32(2), int64(10)
memory usage: 191.5 KB

In [23]:
df.isnull().sum()

gender                        0
part_time_job                 0
absence_days                  0
extracurricular_activities    0
weekly_self_study_hours       0
career_aspiration             0
math_score                    0
history_score                 0
physics_score                 0
chemistry_score               0
biology_score                 0
english_score                 0
geography_score               0
total_score                   0
average_score                 0
dtype: int64

In [24]:
df['gender'].value_counts()

gender
0    1002
1     998
Name: count, dtype: int64

In [25]:
df['part_time_job'].value_counts()

part_time_job
False    1684
True      316
Name: count, dtype: int64

In [26]:
df['absence_days'].value_counts()

absence_days
2     344
1     341
3     336
4     199
5     196
6     136
7     130
0     123
10     88
9      56
8      51
Name: count, dtype: int64

In [27]:
df['career_aspiration'].value_counts()

career_aspiration
12    315
3     309
15    223
2     169
9     138
0     126
6     119
10     83
13     73
4      68
1      67
7      63
8      61
14     59
5      56
11     39
16     32
Name: count, dtype: int64

In [28]:
X = df[['part_time_job', 'absence_days', 'extracurricular_activities','weekly_self_study_hours', 'math_score','history_score', 'physics_score', 'chemistry_score', 'biology_score','english_score', 'geography_score','total_score','average_score']]
y = df['career_aspiration']

In [29]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)

In [30]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\niraj\anaconda3 4\lib\site-packages (0.10.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.17.3 in c:\users\niraj\anaconda3 4\lib\site-packages (from imbalanced-learn) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\niraj\anaconda3 4\lib\site-packages (from imbalanced-learn) (1.11.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\niraj\anaconda3 4\lib\site-packages (from imbalanced-learn) (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\niraj\anaconda3 4\lib\site-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\niraj\anaconda3 4\lib\site-packages (from imbalanced-learn) (3.5.0)

In [31]:
df['career_aspiration'].value_counts()

career_aspiration
12    315
3     309
15    223
2     169
9     138
0     126
6     119
10     83
13     73
4      68
1      67
7      63
8      61
14     59
5      56
11     39
16     32
Name: count, dtype: int64

In [32]:
y_resampled.value_counts()

career_aspiration
9     315
2     315
13    315
7     315
4     315
5     315
0     315
16    315
11    315
6     315
3     315
14    315
12    315
15    315
1     315
8     315
10    315
Name: count, dtype: int64

In [33]:
X_resampled.shape

(5355, 13)

In [34]:
y_resampled.shape

(5355,)

In [35]:
#split data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X_resampled,y_resampled,test_size=0.2,random_state=0 )

In [36]:
x_train.shape
y_train.shape
x_test.shape
y_test.shape

(1071,)

In [37]:
y_train.shape

(4284,)

In [38]:
x_test.shape

(1071, 13)

In [39]:
y_test.shape

(1071,)

In [40]:
from sklearn.preprocessing import StandardScaler


scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(x_train)
X_test_scaled = scaler.transform(x_test)

In [41]:
X_train_scaled

array([[-0.44834055, -0.47110502, -0.63716017, ...,  1.21134116,
         2.21137227,  2.20889557],
       [-0.44834055, -0.93559613, -0.63716017, ...,  0.17787975,
        -0.68241762, -0.68228484],
       [-0.44834055,  0.45787721, -0.63716017, ..., -1.98299409,
        -0.68241762, -0.68986353],
       ...,
       [-0.44834055, -0.0066139 , -0.63716017, ...,  1.21134116,
         0.01519245,  0.00713774],
       [-0.44834055, -0.0066139 ,  1.56946407, ..., -1.2313858 ,
         0.91950178,  0.9304729 ],
       [-0.44834055, -0.47110502,  1.56946407, ...,  0.92948805,
        -0.08815719, -0.07343012]])

In [42]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

In [43]:
model1=LogisticRegression()
model1.fit(X_train_scaled,y_train)
y_predict=model1.predict(X_test_scaled)
acc=accuracy_score(y_test,y_predict)*100

C:\Users\niraj\anaconda3 4\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [44]:
classifiers = [
    LogisticRegression(),
    RandomForestClassifier(),
    SVC(),
    DecisionTreeClassifier(),
    GaussianNB(),
    KNeighborsClassifier()  # Add KNN to the list of classifiers
]
# Iterate over each classifier
for classifier in classifiers:
    # Train the classifier
    classifier.fit(X_train_scaled, y_train)
    
    # Make predictions
    y_pred = classifier.predict(X_test_scaled)
    
    # Calculate accuracy
    accuracy = accuracy_score(y_test, y_pred)*100
    
    # Print the accuracy
    print(f"Classifier: {classifier.__class__.__name__}")
    print(f"Accuracy: {accuracy:.4f}")

C:\Users\niraj\anaconda3 4\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Classifier: LogisticRegression
Accuracy: 46.8721
Classifier: RandomForestClassifier
Accuracy: 85.9944
Classifier: SVC
Accuracy: 68.7208
Classifier: DecisionTreeClassifier
Accuracy: 68.8142
Classifier: GaussianNB
Accuracy: 46.9655
Classifier: KNeighborsClassifier
Accuracy: 67.6004

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Initialize the Logistic Regression model
model1 = LogisticRegression()

# Fit the model to the training data
model1.fit(X_train_scaled, y_train)

# Make predictions on the test data
y_predict = model1.predict(X_test_scaled)

# Calculate accuracy
acc = accuracy_score(y_test, y_predict) * 100
acc

C:\Users\niraj\anaconda3 4\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

46.87208216619981

In [46]:
import pickle
from tkinter import*
import tkinter as tk
from tkinter import ttk
from tkinter import messagebox
from PIL import ImageTk,Image

In [ ]:
import tkinter as tk
from tkinter import messagebox
from PIL import Image, ImageTk

# Career Prediction Logic
def calculate_scores(*args):
    try:
        scores = []
        error_messages = []

        for entry_var, subject in zip(entry_vars, subjects):
            input_value = entry_var.get().strip()

            if input_value == "":  # Skip empty fields, don't calculate till they're all filled
                total_score_var.set("")
                average_score_var.set("")
                return

            try:
                value = int(input_value)
                if not (0 <= value <= 100):
                    error_messages.append(f"{subject} score must be between 0 and 100.")
                else:
                    scores.append(value)
            except ValueError:
                error_messages.append(f"{subject} must be a number between 0 and 100.")

        if error_messages:
            return  # Don't update scores if there's an invalid input

        # Calculate total and average score
        total_score = sum(scores)
        average_score = total_score / len(scores) if scores else 0

        total_score_var.set(f"{total_score}")  # Update total score entry
        average_score_var.set(f"{average_score:.2f}")  # Update average score entry

    except Exception as e:
        messagebox.showerror("Error", f"Calculation failed: {e}")

# Input validation (on button click)
def predict_career():
    try:
        scores = []
        error_messages = []

        for entry_var, subject in zip(entry_vars, subjects):
            input_value = entry_var.get().strip()

            if input_value == "":  # Check for any empty fields
                error_messages.append(f"{subject} field cannot be empty.")
                continue

            try:
                value = int(input_value)
                if not (0 <= value <= 100):
                    error_messages.append(f"{subject} score must be between 0 and 100.")
                else:
                    scores.append(value)
            except ValueError:
                error_messages.append(f"{subject} must be a number between 0 and 100.")

        if error_messages:  # Show validation errors if any
            messagebox.showerror("Invalid Input", "\n".join(error_messages))
            return

        total_score = sum(scores)
        average_score = total_score / len(scores)

        if average_score > 85:
            career = "Doctor"
        elif average_score > 70:
            career = "Engineer"
        elif average_score > 55:
            career = "Artist"
        else:
            career = "Other"

        result_text.delete('1.0', 'end')
        result_text.insert('1.0', f"Total Score: {total_score}\n"
                                  f"Average Score: {average_score:.2f}\n"
                                  f"Recommended Career: {career}")
    except Exception as e:
        messagebox.showerror("Error", f"Prediction failed: {e}")

# Reset all input fields
def reset():
    for entry_var in entry_vars:
        entry_var.set("")
    total_score_var.set("")  # Clear total score entry
    average_score_var.set("")  # Clear average score entry
    result_text.delete('1.0', 'end')

# Create the main window
root = tk.Tk()
root.title("Career Aspiration Prediction System")
root.state('zoomed')

# Load and resize background image
bg_image_path = r"C:\Users\niraj\OneDrive\Desktop\Goals-And-Aspirations-Are-Cruical-to-Pre-MBA-Strategy-1024x724.png"
try:
    bg_image = Image.open(bg_image_path)
    bg_image = bg_image.resize((root.winfo_screenwidth(), root.winfo_screenheight()), Image.LANCZOS)
    bg_photo = ImageTk.PhotoImage(bg_image)
    bg_label = tk.Label(root, image=bg_photo)
    bg_label.place(x=0, y=0, relwidth=1, relheight=1)
except FileNotFoundError:
    messagebox.showerror("Error", "Background image not found.")
    root.destroy()

# Frame for input fields (centered in the middle)
frame = tk.Frame(root, bg="white", bd=2, relief="solid", padx=20, pady=10)
frame.place(relx=0.5, rely=0.5, anchor="center")  # Centered in the middle of the screen

# Title label
label1 = tk.Label(frame, text="Student Score Entry", font=("Times New Roman", 20, "bold"), bg="light yellow")
label1.grid(row=0, columnspan=2, pady=(10, 20))

# Subjects and entries (compact layout)
subjects = ["Math", "Physics", "Chemistry", "Biology", "English", "History", "Geography"]
entry_vars = []

for i, subject in enumerate(subjects):
    label = tk.Label(frame, text=f"{subject} (0-100):", font=("Times New Roman", 14), bg="light yellow")
    label.grid(row=i + 1, column=0, padx=5, pady=3, sticky="w")

    entry_var = tk.StringVar()
    entry_var.trace_add("write", calculate_scores)  # Bind trace to calculate scores dynamically
    entry_vars.append(entry_var)

    entry = tk.Entry(frame, font=("Times New Roman", 14), width=10, textvariable=entry_var)
    entry.grid(row=i + 1, column=1, padx=5, pady=3)

# Add Total Score and Average Score fields below Geography
total_score_var = tk.StringVar()
average_score_var = tk.StringVar()

# Total Score Label and Entry
total_score_label = tk.Label(frame, text="Total Score:", font=("Times New Roman", 14), bg="light yellow")
total_score_label.grid(row=len(subjects) + 1, column=0, padx=5, pady=3, sticky="w")
total_score_entry = tk.Entry(frame, font=("Times New Roman", 14), textvariable=total_score_var, state="readonly", width=10)
total_score_entry.grid(row=len(subjects) + 1, column=1, padx=5, pady=3)

# Average Score Label and Entry
average_score_label = tk.Label(frame, text="Average Score:", font=("Times New Roman", 14), bg="light yellow")
average_score_label.grid(row=len(subjects) + 2, column=0, padx=5, pady=3, sticky="w")
average_score_entry = tk.Entry(frame, font=("Times New Roman", 14), textvariable=average_score_var, state="readonly", width=10)
average_score_entry.grid(row=len(subjects) + 2, column=1, padx=5, pady=3)


# Prediction and Reset buttons
button1 = tk.Button(frame, text="PREDICT", command=predict_career, font=("Times New Roman", 16, "bold"),
                    bg="black", fg="coral")
button1.grid(row=len(subjects) + 3, column=0, pady=(10, 0))

button2 = tk.Button(frame, text="CLEAR", command=reset, font=("Times New Roman", 16, "bold"),
                    bg="black", fg="coral")
button2.grid(row=len(subjects) + 3, column=1, pady=(10, 0))

# Text widget for results (positioned at the bottom center)
result_text = tk.Text(root, height=4, width=50, font=("Times New Roman", 16), bg="lemon chiffon", fg="dark blue")
result_text.place(relx=0.5, rely=0.8, anchor="center")

# Start the Tkinter main loop
root.mainloop()